:root{
	--darkgrey: #333;  /* navbar - footer */
	--lightgrey: #bababa;  /* desktop background */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

				/*  ------------ Nav Bar ------------ */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 6vh;
	background-color: var(--darkgrey);
	font-family: 'Poppins', sans-serif;
	padding: 0 20px;

	/* work area */
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.fixed-bar {
	min-height: 6vh;
}
	/* end work area */

.logo a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 5px;
	font-size: 20px;
}

.logo a:hover {
	color: #969999;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.nav-links {
	list-style: none;
}

.nav-links a {
	color: #fff;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.nav-links a:hover {
	color: #969999;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}
				/*  ------------ End Nav Bar ------------ */

				/*  ------------ Showcase ------------ */
#showcase {
	min-height: 300px;
	background:url('images/snowbankPond.jpg') no-repeat center/cover;
}

	.container {
		/*width: 90%;  keep if title changes*/
		/*margin: auto;*/
		color: #fff;
		text-align: center;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

		#showcase h1 {
			padding: 5rem 0 .6rem 0;
			font-size: 3.4rem;
			text-shadow: 3px 3px 5px black;
		}

		#showcase p {
			font-size: 1.125rem;
			text-shadow: 2px 2px 5px black;
		}

			.spacer {
				margin-top: 1.25rem;
			}

			.travelButton {
				color: #fff;
				background-color: #7703fc;
				text-decoration: none;
				border-radius: 1rem;
				padding: .5rem;
			}

			.travelButton:hover {
				color: #000;
				background-color: #c097f0;
			}

				/* ------------ Main Body ------------ */
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--lightgrey);
}

.footer {
	display: flex;
	justify-content: space-around;
	width: 100%;
	background: var(--darkgrey);
	/*color: #fff;*/
	padding: .3rem 30%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2.5rem;
}

	.footer a {
		color: #fff;
		text-decoration: none;
	}

	.footer a:hover {
		color: #969999;
		text-decoration: none;
	}

			/* ---  Main Body Video section  --- */

#main-body-video {
	max-width: 1024px;
	margin: 0 auto;
}

	.videowrapper {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
	}

	.videowrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
				/* ------------ End Main Body ------------ */


				/* ------------ Main Body Grid ------------ */

#main-body-grid {
    padding: .3rem .3rem;
    background-color: white;
    /*background-color: pink;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

    .grid-item-1 {
        padding: .65rem 1.3rem;
        /*background-color: lightblue;*/
    }

    .grid-item-1 img {
		float: left;
		margin-right: .65rem;
		border-radius: 50%;
		shape-outside: circle(50%);
	}

    .about-link {
		text-align: center;
		padding: .3rem;
	}

	.three-link a {
		color: red;
		text-decoration: none;
	}

	.three-link a:hover {
		color: #000;
	}

	.about-link a {
		color: red;
		text-decoration: none;
	}

	.about-link a:hover {
		color: #000;
	}


    .grid-item-2 {
        text-align: center;
        padding: .65rem 1.3rem;
        /*background-color: lightseagreen;*/
    }

    .grid-item-2 img {
        width: 100%;
    }

				/*  ------------ Media Queries ------------ */

/*  ---  Desktop Version ---  */
@media screen and (min-width: 1024px) {
	#showcase {
		max-width: 1024px;
		margin: 0 auto;
	}

    #main-body-grid {
        max-width: 1024px;
		margin: 0 auto;
		padding: 1rem 8%;
    }

    .grid-item-1 {
        padding: .65rem 2.5rem;
    }

    .grid-item-2 {
        padding: .65rem 2.5rem;
    }
}

/*  ---  Tablet Version ---  */
@media screen and (max-width: 1024px) {
	.nav-links {
		width: 60%;
	}

	.nav-links {
		position: fixed;
		right: 0px;
		height: 82vh;
		top: 6vh;
		background-color: var(--darkgrey);
		opacity: .9;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		z-index: 1;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
	}
}

/*  ---  iPhone Version ---  */
@media screen and (max-width: 750px) {
	.logo a {
		font-size: 15px;
	}

	#showcase {
		min-height: 200px;
	}

	#showcase h1 {
		padding: 2.8rem 0 .3rem 0;
		font-size: 1.6rem;
	}

    #main-body-grid {
        display: block;
    }

	body {
		overflow-x: hidden;
	}

	.footer {
		padding: .3rem 15%;
	}
}

.nav-active {
	transform: translateX(0%);
}
				/*  ------------ End Media Queries ------------ */


				/* ------------Animation ------------ */
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

				/*  JavaScript .div hamburger lines  */
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}






